html, body {
    height: 100%;
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none; 
}
.list-group-item {
    cursor: pointer;
}
.clearfix {
    clear: both;
}

chat-content li {
    padding: 8px;
    /*background: #dddddd;*/
}

chat-content .from {
    float: right;
}

chat-content .to {
    float: left;
}

chat-content .chat-avatar{
    height: 35px;
    width: 35px;
    border-radius: 9999px;
}
chat-content .chat-cell {
    position: relative;
}
chat-content .chat-cell .chat-wrap {
    background: #ddd;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
}

chat-content .from .chat-avatar {
    float: right;
    margin-left: 10px;
}

chat-content .chat-cell .name-wrap {
    display: inline-block;
}

chat-content .panel-body {
    overflow: auto;
    height: 330px;
}



chat-input textarea.chat-textarea {
    width: 80%;
    display: inline-block;
}

chat-input .chat-submit {
    position: relative;
    top: -13px;
    left: 10px;
}

